body {
    background-color: #b5a789;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: small;
    margin: 0px;
}

header.top {
    background-color: #675c47;
    margin: 10px 10px 0px 10px;
    height: 108px;
}

header.top img#headerSlogan {
    float: right;
    /* 没必要指定宽度，img元素图像本身有宽度 */
    /* 下方的tableContainer不需要clear: right，因为和左边图像高度相同，不会遮到*/
}

nav {
    background-color: #efe5d0;
    margin: 10px 10px 0px 10px;
}

ul {
    margin: 0px;/* 默认情况下会有一个外边距 */
    list-style-type: none;/* 删除列表符号 */
    padding: 5px 0px 5px 5px;
}

ul li {
    display: inline;/* 表项横着流进 */
    padding: 5px 10px 5px 10px;
}

ul li a:link, ul li a:visited {
    color: #954b4b;
    border-bottom: none;
    font-weight: bold;/* 覆盖默认css，使超链接融入 */
}

ul li.selected {/* 当前页面区别于其他表项 */
    background-color: #c8b99c;
}

div#tableContainer {
    display: table;
    border-spacing: 10px;
}

div#tableRow {
    display: table-row;
}

section#drinks {
    display: table-cell;
    background-color: #efe5d0;
    width: 20%;
    padding: 15px;
    vertical-align: top;
    /* 顶端对齐 */
}

section#main, section#blog {
    display: table-cell;
    background: #efe5d0 url(images/background.gif) top left;
    font-size: 105%;
    padding: 15px;
    vertical-align: top;
}

aside {
    display: table-cell;
    background: #efe5d0 url(images/background.gif) bottom right;
    font-size: 105%;
    padding: 15px;
    vertical-align: top;
}

footer {
    background-color: #675c47;
    color: #efe5d0;
    text-align: center;
    padding: 15px;
    margin: 0px 10px 10px 10px;
    font-size: 90%;
    clear: right
}

h1 {
    font-size: 120%;
    color: #954b4b;
}

.slogan {
    color: #954b4b;
}

.beanheading {
    text-align: center;
    line-height: 1.8em;
}

a:link {
    color: #b76666;
    text-decoration: none;
    border-bottom: thin dotted #b76666;
}

a:visited {
    color: #675c47;
    text-decoration: none;
    border-bottom: thin dotted #675c47;
}